.MVVsocket {
    background: #4b4b4b;
    height: fit-content;
    padding: 3%;
    width: 100%;
    margin-bottom: 5%;
    padding-top: 7%;
}

.MVV {
   
    gap: 2%;
    margin-top: 200px;
}

.MVV img {
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 100%;
}
.mission,
.vision,
.value {
    width: 100%;
    border-radius: 2%;
    height: fit-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    h2 {
        text-align: center;
        font-size: 1.7rem;
    }
    p {
        padding: 5%;
        font-size: 1rem;
    }
    img {
        width: 100px;
        height: 100px;
    }
}
.mission,
.vision,
.value {
    // cursor: pointer;
    position: relative;
    padding: 2%;
    background: white;
    font-size: 1.7rem;
    
}
@media only screen and (max-width: 768px) {
    .MVV {

        display: flex;
        row-gap: 1  5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mission,
        .vision,
        .value {
            width: 80%;
            height: fit-content;
            margin-bottom: 3%;
        }
    }
    .MVV img {
        width: 30%;
        margin: auto;
        height: 30%;
    }
}
