.carouselcontainer {
  height: 100vh;
  .carouselimg {
    height: 100vh;
    object-fit: cover;
  }
}

// @media (min-width: 760px) {
//     .carouselcontainer {
//         height: 450px;
//         .carouselimg {
//             height: 450px;
//         }
//     }
// }

// @media (min-width: 320px) {
//     .carouselcontainer {
//         height: 450px;
//         .carouselimg {
//             height: 450px;
//         }
//     }
// }
