.serviesmain {
    .servicescontainerhero {
        height: 600px;
        background: url("https://i.pinimg.com/736x/69/31/e9/6931e94a7543bdcbc16b41cd4f8c7117.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: linear-gradient(to bottom, #957d61, #957d61);
        // background-size: cover;
        // background-repeat: no-repeat;
        position: relative;
        width: 100%;

        .servicesherotext {
            color: white;
            z-index: 10;
            font-weight: 600;
            font-size: 28px;
            position: absolute;
            margin-top: 430px;
            margin-left: 30px;
            width: 60%;
        }
    }

    .servicesmainlist {
        .servicesmainimg {
            flex: 2;
            height: 500px;
            object-fit: cover;
        }
        .servicesmaindesc {
            flex: 1;
        }
    }
}
