.projectscontainer {
    height: 600px;
    .projectimg {
        height: 576px;
    }

    .projrow {
        height: 276px;
        .projrowimg {
            height: 276px;
        }
    }
}
