.AboutMain2 {
    .aboutcontainerhero {
        height: 600px;
        background: url("https://c4.wallpaperflare.com/wallpaper/59/97/72/design-sofa-furniture-watch-wallpaper-preview.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: linear-gradient(to bottom, #957d61, #957d61);
        // background-size: cover;
        // background-repeat: no-repeat;
        position: relative;
        width: 100%;

        .aboutherotext {
            color: white;
            z-index: 10;
            font-weight: 600;
            font-size: 28px;
            position: absolute;
            margin-top: 430px;
            margin-left: 30px;
            width: 60%;
        }
    }
    .aboutPageUI2 {
        margin-top: 4%;
        margin-bottom: 4%;
        padding: 3% 0% 3% 3%;

        .abouttext2left {
            flex: 1;
        }
        .abouttext2right {
            flex: 2;
        }
    }
    .aboutUs {
        display: flex;
        flex-direction: column;
        margin: 2% auto;
    }

    .AboutText2 {
        // margin-top: 2%;
    }
    .AboutImg2 {
        height: 100vh;
    }
    .aboutmaintitle2 {
        font-size: 2rem;
    }
    .Line {
        background-color: #3e4824;
    }
}

@media only screen and (max-width: 500px) {
    .AboutImg {
        height: 50vh;
        border: 1px solid blue;
        width: 100%;
    }
    .AboutText {
        padding: 1%;
        width: 80vw;
        border: 1px solid red;
    }

    .AboutText p {
        width: 100vw;
        border: 1px solid red;
        padding: 0;
    }
}

.titleBox {
    background-color: #3e4824;
    color: #e7e8da;
    border: 1px solid black;
}

.TestCard {
    background-color: #e7e8da;
    border-radius: 2rem;
}
