.blogpagecontainer {
    display: flex;
    gap: 50px;

    .blogcard {
        flex: 3;
    }
    .recentblog {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .blogpagecontainer {
        .recentblog {
            display: none;
        }
        .blogcard {
            padding: 20px;
        }
    }
}
